<!DOCTYPE>
<html>
<head>


<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


</head>
<body ng-app="myApp" ng-controller="MyController" style="margin: 0 auto">
<div class="container" style=" width: 100%; height: 100%;  position: relative; left: 0px; top: 0px;">
<img id="loader" style=" position:relative;  width: 100%; left: 0px; top:0px;" src="assests/story1.jpg"/>

<video ng-show="currentPage == 1" class="myVideo" id="myVideo-1" width="100%"  preload="auto" autoplay="" poster="assests/story1.jpg" >
  <source src="videos/1/1.mp4" type="video/mp4">
</video>

<video ng-show="currentPage == 2" class="myVideo" id="myVideo-2" width="100%"  preload="auto"   >
  <source src="videos/1/2.mp4" type="video/mp4">
</video>

<video ng-show="currentPage == 3" class="myVideo" id="myVideo-3" width="100%"  preload="auto"   >
  <source src="videos/1/3.mp4" type="video/mp4">
</video>

<video ng-show="currentPage == 4" class="myVideo" id="myVideo-4" width="100%"  preload="auto"   >
  <source src="videos/1/4.mp4" type="video/mp4">
</video>

<video ng-show="currentPage == 5" class="myVideo" id="myVideo-5" width="100%"  preload="auto"   >
  <source src="videos/1/5.mp4" type="video/mp4">
</video>

<video ng-show="currentPage == 6" class="myVideo" id="myVideo-6" width="100%"  preload="auto"   >
  <source src="videos/1/6.mp4" type="video/mp4">
</video>




<img ng-show="currentPage <= 6 && currentPage > 1" ng-click="goPrev()" style=" position: fixed; width: 7%; cursor: pointer; top: 33%; left: 1%;" src="assests/left.png">
<img  ng-show="currentPage > 0 && currentPage < 6" ng-click="goNext()" style="position: fixed; width: 7%; cursor: pointer; top: 33%; right: 1%;" src="assests/right.png">



<a href="index.html">
<img  src="assests/home.png" style="position: fixed;z-index: 999;bottom: 0px;left: 0px;"></button>
</a>


<img src="assests/music-on.png" style="position: fixed;z-index: 999;bottom: 0px;left: 100px;"></button>


<a href="games1.html">
<img onclick="showGames()" src="assests/game.png" style="position: fixed;z-index: 999;bottom: 0px;left: 200px;"></button>
</a>


</div>
</body>


<style type="text/css">
@media only screen 
and (max-device-width : 1000px)  { html { zoom:0.6; } }

		html {
			    background-color: #47919e;
    -webkit-tap-highlight-color: rgba(201, 224, 253, 0);
}
	button { position: absolute;z-index: 999; outline: none; height: 25px; width: 150px; background-color: rgba(255,255,255,0.1); border:0px; cursor: pointer; -webkit-tap-highlight-color: rgba(251, 185, 250, 0); }

</style>



<script src='js/jquery.min.js'></script>
<script src='js/angular.min.js'></script>


<script src="js/preloadjs-0.6.2.min.js"></script>


<script type="text/javascript">

var sampleApp = {};

sampleApp.angular = angular.module('myApp', [])

sampleApp.angular.controller('MyController', function($scope) {
$scope.currentPage = 1;

$scope.goPrev = function (){ 
if($scope.currentPage > 1 && $scope.currentPage <= 6 ){ $scope.currentPage --; }
}


$scope.goNext = function (){ 
if($scope.currentPage < 6 && $scope.currentPage > 0 ){ $scope.currentPage ++ ; }
}


});





var queue = new createjs.LoadQueue();
 queue.on("complete", handleComplete, this);
 queue.loadManifest([
 	
 	{id:"1", src:"videos/1/1.mp4"},
 	{id:"2", src:"videos/1/2.mp4"},
 	{id:"3", src:"videos/1/3.mp4"},
 	{id:"4", src:"videos/1/4.mp4"},
 	{id:"5", src:"videos/1/5.mp4"},
 	{id:"6", src:"videos/1/6.mp4"},
 	{id: "7", src:"assests/story1.jpg"}
])

 function handleComplete() {
     $('#myVideo').show();
     $('#loader').hide();
     $('#myVideo')[0].play();
 }




 
</script>

</body>
</html>